.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-card{
  width: 14rem;
  min-height: 26rem;
}

.product-desc{
  margin-left: .5rem;
}
.content-cards{
  display: flex;
  flex-direction: column;
  min-height: 23rem;
}
.img-div {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 8rem;
  width: 100%;
}

.imgs {
  margin-top:1rem;
  width: 80%;
  height: 10rem;
}

.product-p {
  margin-left: .5rem;
  margin-top: .5rem; 
}

.btn-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color:black !important;
  gap:.4rem;
  border-width: 1px;
  height:3rem;
  background-color: white !important;
  margin-top:1.2rem;
  margin-bottom: 1rem;
  font-size:1rem;
  width:150px;
  color:black;
}
.rating-div{
  margin-top:1rem;
  margin-bottom: 1rem;
  margin-left:.5rem;
}
.card-container{
  display: flex;
  align-items: flex-start;
  margin-top:1rem;
}

.action-cart {
  justify-content: center;
  margin: auto;
}

.grid-cards{
  display: flex;
 align-items: center;
 justify-content: center;
}